In [1]:
%%capture
!pip install pymongo pprint dateparser matplotlib pandas sklearn numpy seaborn

In [2]:
import pymongo
import pprint
import dateparser
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

%matplotlib inline

In [3]:
course_cluster_uri = "mongodb://agg-student:agg-password@cluster0-shard-00-00-jxeqq.mongodb.net:27017,cluster0-shard-00-01-jxeqq.mongodb.net:27017,cluster0-shard-00-02-jxeqq.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin"
course_client = pymongo.MongoClient(course_cluster_uri)
titanic = course_client['coursera-agg']['titanic']

In [4]:
initial_project = {
    "$project": {
        "_id": 0,
        "name": 0,
        "point_of_embarkation": 0,
        "ticket_number": 0,
        "passenger_id": 0,
        "cabin": 0,
    }
}

In [6]:
# todo - correct the age.
# *HINT* -- If the $type of "$age" is a string, set it to 0
age_correction = {
        "$cond": [ { "$type": "string" }, 0, "$age" ]
}

In [12]:
# todo - one hot encode gender_female. 1 if female, 0 if male
one_hot_female = {
    "$cond": [ { "$eq": [ "$gender", "female" ] }, 1, 0 ]
}

In [13]:
# todo - the inverse of above. 1 if male, 0 if female
one_hot_male = {
    "$cond": [ { "$eq": [ "$gender", "male" ] }, 1, 0 ]
}

In [14]:
encoding_stage = {
    "$addFields": {
        "gender_female": one_hot_female,
        "gender_male": one_hot_male,
        "age": age_correction
    }
}

In [15]:
final_project = {
    "$project": {
        "gender": 0
    }
}

In [16]:
pipeline = [initial_project, encoding_stage, final_project]

In [17]:
df = pd.DataFrame.from_dict(list(titanic.aggregate(pipeline)))
df.head()

,age,class,fare_paid,gender_female,gender_male,parents_children,siblings_spouse,survived
0,0,3,8.0500,0,1,0,0,0
1,0,3,7.2500,0,1,0,1,0
2,0,3,16.7000,1,0,1,1,1
3,0,3,11.1333,1,0,2,0,1
4,0,1,53.1000,1,0,0,1,1

In [18]:
X = df.drop('survived', axis=1)

In [19]:
y = df['survived']

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15)

In [21]:
dtree = DecisionTreeClassifier()

In [22]:
%%capture
dtree.fit(X_train, y_train)

In [23]:
predictions = dtree.predict(X_test)

In [24]:
print(confusion_matrix(y_test, predictions))
print("\n")
print(classification_report(y_test, predictions))

[[73 13]
 [11 37]]


             precision    recall  f1-score   support

          0       0.87      0.85      0.86        86
          1       0.74      0.77      0.76        48

avg / total       0.82      0.82      0.82       134

In [25]:
rfc = RandomForestClassifier(n_estimators=20)

In [26]:
%%capture
rfc.fit(X_train, y_train)

In [27]:
rfc_pred = rfc.predict(X_test)

In [28]:
print(confusion_matrix(y_test, rfc_pred))
print("\n")
print(classification_report(y_test, rfc_pred, target_names=['test', 'predictions']))

[[73 13]
 [15 33]]


             precision    recall  f1-score   support

       test       0.83      0.85      0.84        86
predictions       0.72      0.69      0.70        48

avg / total       0.79      0.79      0.79       134

In [29]:
iterations = 1000
dtree_avg_accuracy = 0
rfc_avg_accuracy = 0
for _ in range(iterations):
    dtree.fit(X_train, y_train)
    dtree_avg_accuracy += dtree.score(X_test, y_test)
    rfc.fit(X_train, y_train)
    rfc_avg_accuracy += rfc.score(X_test, y_test)
    
print(f"""
After {iterations} iterations:
  Single Decision Tree accuracy: {dtree_avg_accuracy / iterations}
  Random Forest accuracy:        {rfc_avg_accuracy / iterations}
  
  Lab Answer:  dtree={round(dtree_avg_accuracy / iterations, 2)}, rfc={round(rfc_avg_accuracy / iterations, 2)}
""")
#After 1000 iterations:
#  Single Decision Tree accuracy: 0.8199253731343169
#  Random Forest accuracy:        0.7955373134328367
#  
#  Lab Answer:  dtree=0.82, rfc=0.8
#0.8199253731343169+0.7955373134328367=1.62

After 1000 iterations:
  Single Decision Tree accuracy: 0.8199253731343169
  Random Forest accuracy:        0.7955373134328367

  Lab Answer:  dtree=0.82, rfc=0.8